.header {
  
  border-bottom: 1px solid var(--cor-borda);
  padding: 16px 0;
}
.header-container {
  max-width: var(--largura-maxima);
  margin: 0 auto;
  padding: 0 var(--largura-lateral);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-icon {
  width: 130px;
  font-size: 18px;
}

.logo-text {
  font-weight: 600;
  font-size: 18px;
  color: var(--cor-titulo);
}

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav a {
  text-decoration: none;
  color: var(--cor-texto);
  font-size: 16px;
}

.nav a:hover {
  color: #1100ff;
  transition: ease 0.5s;
}

.btn-contatos {
  border: 1px solid var(--cor-borda);
  padding: 8px 20px;
  border-radius: var(--raio-pequeno);
  transition: background-color 0.2s;
}

.btn-contatos:hover {
  background-color: var(--cor-texto);
  color: var(--cor-fundo) !important;
}
